.body-services {
    grid-template-areas:
    "hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
    ".    .    main main main main main main main main .    . "
    ".    .    sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 .    . "
    ".    .    sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 .    . "
    ".    sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 . "
    "ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";

    h1 {
        margin: 0 20px;
        padding: 0;
        font-weight: none;
        font-size: 38px;
    }

    header {
        height: 100px;        
    }
    .main-services {
        grid-area: main;
        margin: 20px 0;
        .demo-financing {
            width: 100%;
            img {
                margin: 30px;
                width: 100%;
                height: 100%;
            }
            .h2-demo {
                margin: 15px;
                font-size: 48px;
            }
            p { 
            margin: 10px;
            font-size: 32px;
            }
        }
    }


    .sec1 {
        grid-area: sec1;
        margin: 20px;
        .demo-management {
            @include fontMain ($size:32px,$bold:none,$color:map-get($fuentes, font-color-primary));
            display: flex;
            justify-content: center;
            flex-direction: column;
            img {
                margin: 30px;
                width: 100%;
                height: 100%;
                box-shadow: 0px 20px 15px #ccc;
            }
            .h2-demo {
                margin: 15px;
                font-size: 48px;
            }
            p {
                margin: 10px;
                padding: 5px 10px;
                font-size: 32px;
                text-align: justify;
            }
        }
    }

    .sec2 {
        grid-area: sec2;
        margin: 20px;
        .demo-marketing {
            @include fontMain ($size:32px,$bold:none,$color:map-get($fuentes, font-color-primary));
            display: flex;
            justify-content: center;
            flex-direction: column;
            img {
                margin: 30px;
                width: 100%;
                height: 100%;
                box-shadow: 0px 20px 15px #ccc;
            }
            .h2-demo {
                margin: 15px;
                font-size: 48px;
            }
            p {
                margin: 10px;
                padding: 5px 10px;
                font-size: 32px;
                text-align: justify;
            }
        }
    }
}


@include mediaQuery ($diseñoPantalla:mobile,$tamaño:768px) {
    .body-services {
        .main-services {
            grid-area: main;
            margin: 15px;
            .demo-financing {
                width: 100%;
                img {
                    margin: 10px;
                    width: 100%;
                    height: 100%;
                }
                .h2-demo {
                    margin: 5px;
                    font-size: 24px;
                }
                p { 
                margin: 10px;
                font-size: 16px;
                text-align: justify;
                }
            }
        }

        .sec1 {
            grid-area: sec1;
            margin: 15px;
            .demo-management {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                img {
                    margin: 10px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 20px 15px #ccc;
                }
                .h2-demo {
                    margin: 5px;
                    font-size: 24px;
                }
                p {
                    margin: 5px;
                    padding: 5px 5px;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }

        .sec2 {
            grid-area: sec2;
            margin: 15px;
            .demo-marketing {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                img {
                    margin: 10px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 20px 15px #ccc;
                }
                .h2-demo {
                    margin: 5px;
                    font-size: 24px;
                }
                p {
                    margin: 5px;
                    padding: 5px 5px;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }
    }
}