body {
    grid-template-areas:
    "hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
    "main main main main main main main  main  main  main  main  main"
    "ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";

    .container-main{
        background-color: transparent;
        .container-form {
            display: flex;
            justify-content: center;
            margin: 20px;
            #inputForm{
                display: grid;
                grid-template-areas: 
                "A1"
                "A2"
                "A3"
                "A4";

                #divFormEmpleados {
                    grid-area: A1;
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 200px;
                    }
                }

                #divFormSector {
                    grid-area: A2;
                    display: flex;
                    flex-direction: column;
                    select {
                        width: 222px;
                        option:hover {
                            color: rgba(171, 171, 171,.6);
                            background-color: #72bcf4;
                        }
                    }
                }

                #divFormIngresos {
                    grid-area: A3;
                    display: flex;
                    flex-direction: column;
                    select {
                        width: 222px;
                        option:hover {
                            color: rgba(171, 171, 171,.6);
                            background-color: #72bcf4;
                        }
                    }
                }

                #divFormGastos {
                    grid-area: A4;
                    display: flex;
                    flex-direction: column;
                    select {
                        width: 222px;
                        option:hover {
                            color: rgba(171, 171, 171,.6);
                            background-color: #72bcf4;
                        }
                    }
                }

                #divFormSubmit {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                .input-form-label {
                    color: map-get($fuentes , font-color-primary);
                    font-weight: bold;
                }

                .input-form-input {
                    border: 2px solid rgba(171, 171, 171,.6);
                    margin: 5px 7px;
                    padding: 5px 10px 5px 10px;
                    width: 70%;
                    background: white;
                    border-radius: 3px;
                    // box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
                }

                .input-form-div{
                    margin-top: 5px;
                }

                .input-form-input::placeholder {
                    color: rgba(171, 171, 171,1);
                    // box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
                }

                .input-form-input:focus{
                    border-color: #49c6f0;
                    outline-color: #72bcf4;
                    outline-offset: 2px;
                }

                input[type=submit] {
                    background-color: #0291ff;
                    border: 1px solid #72bcf4;
                    box-shadow: 2px 2px 2px rgb(216, 216, 216);
                    border-radius: 4px;
                    width: 100%;
                    height: 40px;
                    margin-top: 5px;
                    margin-right: 5px;
                    color: white;
                    font-size: 20px;
                }

                input[type=submit]:hover {
                    background-color: #ff8902;
                    border: 1px solid #ff8902;
                }
            }
        }

        .container-ofertas {
            display: flex;
            flex-direction: column;
            align-items: center;
            .ofertas-ul {
                list-style-type: none;
                margin:0;
                padding:0;
                width: 300px;
                li {
                    width: 100%;
                    text-align: center;
                    button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        
                        border: 1px solid grey;
                        margin-top: 1px;
                        border-radius: 3px;
                        border-color: rgba(171, 171, 171,1);
                        width: 100%;
                        background-color: transparent;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            h4 {
                                margin:5px;
                            }
                        }
                        span {
                            justify-self: flex-end;
                        }
                    }
                    button:focus{
                        background-color: orange;
                    }
                }
            }
        }
    }
}