.body-simulador {
    grid-template-areas:
    "hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
    ".    .    fo   fo   fo   fo   fo   fo   fo   fo   .   . "
    ".    .    tb   tb   tb   tb   tb   tb   tb   tb   .   . "
    "ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";



    .form-div {
        width: 100%;
        height: 30rem;
        grid-area: fo;
        margin: 20px 0;
        padding: 10px;
        background-color: rgb(244, 241, 241);
        form {
            display: grid;
            grid-template-areas:
            "a a a a a a"
            "b b b b b b"
            "d d d d d d";
            width: 100%;
            height: 100%;

            h2 {
                grid-area: a;
            }

            .form-datos{
                grid-area: b;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;

                .form-datos-identificacion{
                    display: inherit;
                    flex-direction: column;
                }

                .form-datos-financieros{
                    display: inherit;
                    flex-direction: column;
                    label:not(:first-child){
                        margin-top: 10px;
                    }
                    
                }
            }

            .checkboxes{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                grid-area: d;
                div{

                    display: inherit;
                    flex-direction: row;
                    justify-content: space-evenly;

                    #checkBancos {
                        display: inherit;
                        flex-direction: column;
                        align-items: center;
                        input {
                            margin: 10px 0;
                            order: 3;
                        }
                    }

                    #checkInversores {
                        display: inherit;
                        flex-direction: column;
                        align-items: center;
                        input {
                            margin: 10px 0;
                            order: 3;
                        }
                    }

                    button{
                        width: 30%;
                        height: 50%;
                        background-color: map-get($colores,blue-middle);
                        color: white;
                        box-shadow:  2px 2px map-get($colores, grey-dark);
                        border-radius: 5px;
                    }

                    button:hover{
                        background-color: map-get($colores,orange-solid);
                        color: map-get($colores,grey-dark);
                    }
                }
                
            }
        }
    }

    .ofertas{
        grid-area: fo;
        background-color: rgb(214, 205, 205);
        width: 100%;
        height: 30rem;
        margin: 20px 0;
        padding: 10px;
        display: none;
        flex-direction: row;
        // justify-content: space-around;

        .ofertas-bancos {
            width: 50%;
            height: 100%;

            form {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                margin: 20px;
                width: 100%;
                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;
                    margin: 10px 0;

                    .div-tasa{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        p {
                            margin: 0 10px;
                        }
                    }
                }


            }
        }

        .ofertas-info {
            width: 50%;
            height: 100%;
            display: grid;
            grid-template-areas:
            ". . . close"
            "inf inf inf inf"
            "form form form form"
            ". . . ."
            ". . . .";
            margin-left: 20px;


            #bttnClosesimulador {
                grid-area: close;
                width: 70px;
                height: 50px;
            }
            .ofertas-info-empresa{
                grid-area: inf;
            }
            .ofertas-form {
                grid-area: form;
                form{
                    label {
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0;
                        input {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    
    .amortizacion{
        display: grid;
        grid-area: tb;
        width: 100%;
        height: 30rem;
        overflow: scroll;

    }
        
}



    // .container {
    //     grid-area: co;
    //     border-radius: 5px;
    //     background-color: #f2f2f2;
    //     margin: 30px auto;

    //     #regForm {
    //         background-color: #ffffff;
    //         margin: 20px auto;
    //         font-family: Raleway;
    //         padding: 20px;
    //         width: 70%;
    //         min-width: 600px;
    //     }

    //     h2 {
    //         text-align: center;  
    //     }

    //     input, select {
    //         padding: 10px;
    //         width: 100%;
    //         font-size: 17px;
    //         font-family: Raleway;
    //         border: 1px solid #aaaaaa;
    //         resize: vertical;
    //     }

    //         /* Mark input boxes that gets an error on validation: */
    //     input.invalid {
    //         background-color: #ffdddd;
    //     }

    //         /* Hide all steps by default: */
    //     .tab {
    //         width: 100%;
    //         display: none;
    //         label {
    //             display: inline-block;
    //             width: 100%;
    //             height: 100%;
    //             margin-top: 10px;
    //         }

    //         .col-25 {
    //             float: left;
    //             width: 30%;
    //             margin-top: 10px;
    //         }

    //         .col-50 {
    //             margin: 5px auto;
    //             width: 50%;
    //             height: 15rem;
    //             margin-top: 10px;
    //             label {
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: flex-start;
    //                 align-items: center;
    //             }
    //         }

    //         .col-75 {
    //             float: left;
    //             width: 70%;
    //             margin-top: 10px;
    //         }

    //         .row:after {
    //             content: "";
    //             display: flex;
    //             align-items: center;
    //         }
    //     }

    //     .stepButton {
    //         margin-top: 15px;
    //     }

    //     button {
    //         background-color: #04AA6D;
    //         color: #ffffff;
    //         border: none;
    //         padding: 10px 20px;
    //         font-size: 17px;
    //         font-family: Raleway;
    //         cursor: pointer;
    //     }

    //     button:hover {
    //         opacity: 0.8;
    //     }

    //     #prevBtn {
    //         background-color: #bbbbbb;
    //     }
        
    //         /* Make circles that indicate the steps of the form: */
    //     .step {
    //         height: 15px;
    //         width: 15px;
    //         margin: 0 2px;
    //         background-color: #bbbbbb;
    //         border: none;  
    //         border-radius: 50%;
    //         display: inline-block;
    //         opacity: 0.5;
    //     }
        
    //     .step.active {
    //         opacity: 1;
    //     }
        
    //         /* Mark the steps that are finished and valid: */
    //     .step.finish {
    //         background-color: #04AA6D;
    //     }
    // }

    
    // .bancos {
    //     grid-area: si;
    // }
        // .simulador{
        //     grid-area: si;
        //     width: 100%;
        //     height: 20rem;

        //     margin-top: 20px;
        //     form {
        //         display: flex;
        //         flex-direction: column;
        //         width: 100%;
        //         height: 100%;
        //     }
        // }

    // #tarjeta-total {
    //     grid-area: ch;
    //     margin-top: 20px;
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: flex-start;
    //     padding-left: 40px;

    // }

    // .amortizacion {
    //     grid-area: ta;
    //     padding-left: 0 30px;
    //     #lista-tabla{
    //         th:not(:first-child){
    //             text-align: left;
    //             border-bottom: 1px solid #ddd;
    //         }
    //         td:not(:first-child){
    //             text-align: left;
    //             border-bottom: 1px solid #ddd;
    //         }        
    //         tr:hover {background-color: coral;}
    //     }
    // }

// }


@media screen and (max-width: 600px) {

    .tab{
        display: flex;
        flex-direction: column;

    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        float: none;
    }
}