<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, servicios, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">

    <meta name="description"
        content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Encuentra nuestros diferentes servicios, desde financimiento mediante créditos o capital privado, marketing y diseño de producto, gestión de los estados financieros y seguimiento de clientes, proveedores y entregas">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script>

    <title>Emprendiendo - servicios</title>
</head>

<body class="body-aboutus">
    <!-- ************************************************************** -->
    <!-- ************************ HEADER ****************************** -->
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1 class="h1 p-0 m-0 lh-1">Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul m-0">
                <li class="navigationbar-li" ><a href="../index.html"
                        class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li" ><a href="./services.html"
                        class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./aboutus.html" class="navigationbar-link">Sobre
                        Nosotros</a></li>
                <li class="navigationbar-li"><a href="./pricing.html" class="navigationbar-link">Precios</a>
                </li>
                <li class="navigationbar-li"><a href="./contactus.html"
                        class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <!-- SERVICES DEMOS -->

    <main class="main-aboutus">
        <div class="main-aboutus-container">
            <article>
                <h2>Nosotros</h2>
                <p>Somos profesionales en finanzas, contabilidad, administración y economía.
                Entendemos la dinámica del sector empresarial y nuestra propuesta de valor es 
                darte acceso a poderosas herramientas de análisis financiero y marketing digital
                haciendo uso de nuevas y mejores tecnologías como la inteligencia artifical
                </p>
            </article>
            <div class="aboutus-team">
                <a href="https://www.linkedin.com/in/miguelmanr" alt="linkedinSocio1"  target="_blank" rel="noopener">
                    <i class="fa-solid fa-user-astronaut fa-7x"></i>
                    <span>socio1</span>
                </a>
                <a href="https://www.linkedin.com/in/miguelmanr" alt="linkedinSocio2"  target="_blank" rel="noopener">
                    <i class="fa-solid fa-user-astronaut fa-7x"></i>
                    <span>socio2</span>
                </a>
                <a href="https://www.linkedin.com/in/miguelmanr" alt="linkedinSocio3"  target="_blank" rel="noopener">
                    <i class="fa-solid fa-user-astronaut fa-7x"></i>
                    <span>socio3</span>
                </a>
                
            </div>
        </div>
    </main>
    
    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <a href="http://facebook.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-square fa-2x"></i>
                </a>
                <a href="http://instagram.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="./contactus.html" rel="noopener">
                    <i class="fa-brands fa-whatsapp-square fa-2x"></i>
                </a>
                
            </div>
        </div>
    </footer>
</body>

</html>