<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, contacto, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">
    <meta name="description" content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Contáctanos, envíanos un mensaje, adjunta tu correo electrónico o escríbenos siempre estaremos para atenderte">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">
    
    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script> 
    
    <title>Emprendiendo - contáctanos</title>
</head>

<body class="body-contactus">
    <!-- ************************************************************** -->
    <!-- ************************ HEADER ****************************** -->
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1>Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul">
                <li class="navigationbar-li"><a href="../index.html" class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li"><a href="./services.html" class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li"><a href="./aboutus.html" class="navigationbar-link">Sobre Nosotros</a></li>
                <li class="navigationbar-li"><a href="./pricing.html" class="navigationbar-link">Precios</a></li>
                <li class="navigationbar-li"  id="navigationbar-li-active"><a href="./contactus.html" class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <!-- ************************************************************** -->
    <!-- ************************ CONTENIDO ****************************** -->
    <main class="main-contactus">
        <div class="contactus">
            <div class="contactus_container">
                <form action="">
                    <label for="fname">Nombre</label>
                    <input type="text" id="fname" name="firstname" placeholder="Pepito">
                    <label for="lname">Apellido</label>
                    <input type="text" id="lname" name="lastname" placeholder="Perez">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="email" name="Correo electrónico" placeholder="pepitoperez@gmail.com">
                    <label for="WhatsApp">Whatsapp</label>
                    <input type="number" id="wp" name="whatsapp" placeholder="3011234567">

                    <label class="container">Acepto las políticas de tratamientos de datos
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </main>
    <div class="map-contactus">
        <article>
            <h2>Contáctanos</h2>
            <p>micorreo@correo.com</p>
            <p>(+57) 123 456 678</p>
            <p>Calle p sherman wallaby 42 sidney</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.3928103627!2d-74.24789180268826!3d4.648625933059621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1645588743027!5m2!1ses-419!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </article>
    </div>
    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <i class="fa-brands fa-facebook-square fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-whatsapp-square fa-2x"></i>
            </div>
        </div>
    </footer>
</body>

</html>