<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, precios, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">
    <meta name="description" content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Encuentra nuestros planes de subscripción mensual o nuestro plan partner y sé nuestro aliado!">    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">
    
    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script> 
    
    <title>Emprendiendo - precios</title>
</head>

<body class="body-pricing">
    <!-- ************************************************************** -->
    <!-- ************************ HEADER ****************************** -->
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1 class="h1 p-0 m-0 lh-1">Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul m-0">
                <li class="navigationbar-li" ><a href="../index.html"
                        class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li" ><a href="./services.html"
                        class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li" ><a href="./aboutus.html" class="navigationbar-link">Sobre
                        Nosotros</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./pricing.html" class="navigationbar-link">Precios</a>
                </li>
                <li class="navigationbar-li"><a href="./contactus.html"
                        class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <!-- SERVICES DEMOS -->

    <main class="main-pricing">
        <div class="main-pricing-container">
            <div class="pricing-card">
                <ul class="pricing-card-ul">
                    <li class="pricing-card-ul-header">
                        Plan Básico
                    </li>
                    <br>
                    <li class="pricing-card-ul-li">
                        Financiamiento
                    </li>
                    <li class="pricing-card-ul-li">
                        Análisis financiero básico
                    </li>
                    <li class="pricing-card-price">
                        USD 30/month
                    </li>
                </ul>
            </div>
            <div class="pricing-card">
                <ul class="pricing-card-ul">
                    <li class="pricing-card-ul-header">
                        Plan CEO
                    </li>
                    <br>
                    <li class="pricing-card-ul-li">
                        Financiamiento
                    </li>
                    <li class="pricing-card-ul-li">
                        Seguimiento financiero exahustivo
                    </li>
                    <li class="pricing-card-ul-li">
                        Asesoría
                    </li>
                    <li class="pricing-card-ul-li">
                        Página web administrada
                    </li>
                    <li class="pricing-card-price">
                        USD 900/month
                    </li>
                </ul>
            </div>
            <div class="pricing-card">
                <ul class="pricing-card-ul">
                    <li class="pricing-card-ul-header">
                        Plan Partner
                    </li>
                    <br>
                    <li class="pricing-card-ul-li">
                        Seguimiento financiero exahustivo
                    </li>
                    <li class="pricing-card-ul-li">
                        Asesoría bussines to bussines
                    </li>
                    <li class="pricing-card-ul-li">
                        Página web administrada
                    </li>
                    <li class="pricing-card-price">
                        USD 0/month
                    </li>
                </ul>
            </div>

        </div>
    </main>
    
    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <a href="http://facebook.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-square fa-2x"></i>
                </a>
                <a href="http://instagram.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="./contactus.html" rel="noopener">
                    <i class="fa-brands fa-whatsapp-square fa-2x"></i>
                </a>
                
            </div>
        </div>
    </footer>
</body>


</html>