<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">

    <meta name="description"
        content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Administra tus tiendas, clientes y proveedores desde un sólo lugar, mantente al día con tus estados financieros y genera publicaciones de alto impacto publicitario">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script>
    <script defer src="../js/moment.js"></script>
    <script defer src="../js/simulador.js"></script>
    <title>Emprendiendo</title>
</head>

<body class="body-simulador">
    <!-- ************************************************************** -->
    <!-- ************************ HEADER ****************************** -->
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1 class="h1 p-0 m-0 lh-1">Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul m-0">
                <li class="navigationbar-li"><a href="../index.html"
                        class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li"><a href="./services.html"
                        class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./simulador.html"
                        class="navigationbar-link">Simulador</a></li>
                <li class="navigationbar-li"><a href="./aboutus.html" class="navigationbar-link">Sobre
                        Nosotros</a></li>
                <li class="navigationbar-li"><a href="./pricing.html" class="navigationbar-link">Precios</a>
                </li>
                <li class="navigationbar-li"><a href="./contactus.html"
                        class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <!-- ************************************************************** -->
    <!-- ************************ CONTENIDO ****************************** -->

    <div class="simulador">
        <form action="" method="GET" id="simulador">
            <label for="GET-monto">Monto</label>
            <input id="GET-monto" type="number" name="monto" placeholder="Monto a solicitar">
            <label for="GET-interes">Interés</label>
            <input id="GET-interes" type="number" name="interes" placeholder="Tasa de interés EA">
            <label for="GET-plazo">Plazo</label>
            <input id="GET-plazo" type="number" name="plazo" placeholder="Plazo en meses">
            <input type="submit" value="calcular" id="calcular">
        </form>
    </div>
    <div id="tarjeta-total">
        <h2>Monto total:</h2>
    </div>

    <div class="amortizacion">
        <table id="lista-tabla" class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cuota</th>
                    <th>Abono a capital</th>
                    <th>Pago de interés</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <a href="http://facebook.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-square fa-2x"></i>
                </a>
                <a href="http://instagram.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="./contactus.html" rel="noopener">
                    <i class="fa-brands fa-whatsapp-square fa-2x"></i>
                </a>

            </div>
        </div>
    </footer>
</body>

</html>