<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">

    <meta name="description"
        content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Administra tus tiendas, clientes y proveedores desde un sólo lugar, mantente al día con tus estados financieros y genera publicaciones de alto impacto publicitario">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script>
    <script defer src="../js/moment.js"></script>
    <script defer src="../js/form.js"></script>
    <script defer src="../js/simulador.js"></script>

    <!-- EXTERNAL SOURCES -->
    <!-- <script  src="../bancosDB/bancos.json"></script> -->

    <title>Emprendiendo</title>
</head>

<body class="body-simulador">
    <!-- ************************************************************** -->
    <!-- ************************ HEADER ****************************** -->
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1 class="h1 p-0 m-0 lh-1">Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul m-0">
                <li class="navigationbar-li"><a href="../index.html" class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li"><a href="./services.html" class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./simulador.html"
                        class="navigationbar-link">Simulador</a></li>
                <li class="navigationbar-li"><a href="./aboutus.html" class="navigationbar-link">Sobre
                        Nosotros</a></li>
                <li class="navigationbar-li"><a href="./pricing.html" class="navigationbar-link">Precios</a>
                </li>
                <li class="navigationbar-li"><a href="./contactus.html" class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <!-- ************************************************************** -->
    <!-- ************************ CONTENIDO ****************************** -->

    <div class="form-div">
        <form class="form-simulator">
            <h2>Simulador de financiamiento</h2>
            <div class="form-datos">
                <div class="form-datos-identificacion">
                    <label class="form-label" id="nombreEmpresa">Nombre de la empresa:
                        <input type="text">
                    </label>
                    <label class="form-label" >Número de empleados:
                        <input type="number" id="numeroEmpleados">
                    </label>
                </div>
                <div class="form-datos-financieros">
                    <label class="formLabel" id="sectorEmpresa">Sector:
                        <select id="CIIU" name="CIIU">
                            <option value="comerical">Comercial</option>
                            <option value="agricola">Agricola</option>
                            <option value="tecnología">Tecnología</option>
                        </select>
                    </label>
                    <label class="formLabel" id="ingresosEmpresa">Ingresos:
                        <select id="ingresos" name="ingresos">
                            <option value="1">Entre 1 y 10 millones</option>
                            <option value="2">Entre 11 y 50 millones</option>
                            <option value="3">Entre 50 y 500 millones</option>
                            <option value="4">Más de 500 millones</option>
                        </select>
                    </label>
                    <label class="formLabel" id="gastosEmpresa">Gastos:
                        <select id="gastos" name="gastos">
                            <option value="1">Entre 1 y 10 millones</option>
                            <option value="2">Entre 11 y 50 millones</option>
                            <option value="3">Entre 50 y 500 millones</option>
                            <option value="4">Más de 500 millones</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="checkboxes">
                <p>Escoga el tipo de financiador</p>
                <div>
                    <label id="checkBancos">Bancos
                        <input type="checkbox" name="check" onclick="onlyOne(this)" />
                        <i class="fa-solid fa-building-columns fa-5x"></i>
                    </label>

                    <label id="checkInversores">Inversores
                        <input type="checkbox" name="check" onclick="onlyOne(this)" />
                        <i class="fa-solid fa-user-group fa-5x"></i>
                    </label>
                    <button type="button" id="bttnSimulador">Ver ofertas</button>
                </div>
            </div>
        </form>
    </div>

    <div class="ofertas">
        <div class="ofertas-bancos">
            <form class="ofertas-list" id="listaOfertas" style="list-style-type: none;">
            </form>
        </div>
        <div class="ofertas-info">
            <button type="button" id="bttnClosesimulador" onclick="cerrar()">cerrar</button>
            <div class="ofertas-info-empresa" id="tamañoEmpresa">
                <p>Tu empresa es:</p>
            </div>
            <div class="ofertas-form">
                <form id ='tablaSimulador' method="GET">
                    <label for="monto">Monto a solicitar
                        <input type='number' id='monto'/>
                    </label>
                    <label for="plazo">Plazo del finaciamiento en meses
                        <input type='number' id='plazo'/>
                    </label>
                    <input type = 'submit' value="Calcular" id="calcular">
                </form>
            </div>
        </div>
    </div>

    <div class="amortizacion">
        <table id="lista-tabla" class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cuota</th>
                    <th>Abono a capital</th>
                    <th>Pago de interés</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <a href="http://facebook.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-square fa-2x"></i>
                </a>
                <a href="http://instagram.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="./contactus.html" rel="noopener">
                    <i class="fa-brands fa-whatsapp-square fa-2x"></i>
                </a>

            </div>
        </div>
    </footer>
</body>

</html>